<!DOCTYPE HTML>
<html>
	<head>
		<title>Online Passport</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
			<section id="header">
				<div class="inner">
					<span class="icon solid major fa-cloud"></span>
					<h1>Introducing <strong>Online Passport</strong>, revolutionizing the airport check-in process</h1>
					<p>Developed For<br />
					The 2020 MLH Summer Leauge RookieHacks Hackathon</p>
					<ul class="actions special">
						<li><a href="#one" class="button scrolly">Discover</a></li>
					</ul>
				</div>
			</section>
			<section id="one" class="main style1">
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium">
							<header class="major">
								<h2>What is Block-chain?</h2>
							</header>
							<p>The block-chain data structure is a back-linked list of blocks of transactions, which is ordered. Each block is identifiable by a hash, generated using the sha256 cryographic hash algorithm on the header of the block. Blockchains help prevent single points of failure by having each new block be generated in relation to the hash of the previous block. This creates a chain of linked blocks. Block-chain helps secure connections between clients while saving time and money.</p>
						</div>
						<div class="col-6 col-12-medium imp-medium">
							<span class="image fit"><img src="images/pic01.png" alt="" /></span>
						</div>
					</div>
				</div>
			</section>
			<section id="two" class="main style2">
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium">
							<ul class="major-icons">
								<li><span class="icon solid style1 major fa-code"></span></li>
								<li><span class="icon solid style2 major fa-bolt"></span></li>
								<li><span class="icon solid style3 major fa-camera-retro"></span></li>
								<li><span class="icon solid style4 major fa-cog"></span></li>
								<li><span class="icon solid style5 major fa-desktop"></span></li>
								<li><span class="icon solid style6 major fa-calendar"></span></li>
							</ul>
						</div>
						<div class="col-6 col-12-medium">
							<header class="major">
								<h2>How Have We Implemented This?</h2>
							</header>
							<p>We made a decentralized passport verification system to prevent people from altering passports or creating fake passports. The benefits of this system include speeding up the passport verification process (leading to shorter wait times at airports, for example) as well as increasing the ease of verification. We will do this by using blockchain.</p>
							<p>Everyone's passport will contain a digital part. This patr will store passport info, and this info can be used by a verification system to verify the passport. This will include a record of when the passport is used as well as several identical databases.  Each database will hold everyone's passport data, stored in blocks. When someone tries using their passport, the blockchain of passport data will be chcked among all of the databases in the verification system. If valid, the system will then add the record to the passport, and update all the databases. The passport cannot be altered because as soon as it is, the has changes and no longer matches any of the verification databases. The result is a secure system to hold passport data. The system could flourish into more practical uses concerning security through E-Mails and Cyber Security.</p>
						
						</div>
					</div>
				</div>
			</section>
			<section id="three" class="main style1 special">
				<div class="container">
					<header class="major">
						<h2>A Peek At The Prototype</h2>
					</header>
					<p>We Developed A Console Implementation Of What This System Would Do</p>
					<iframe height="400px" width="100%" src="https://repl.it/@aahmad4/Online-Passport?lite=true&outputonly=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
				</div>
			</section>
			<section id="four" class="main style2 special">
				<div class="container">
					<header class="major">
						<h2>Special Thanks To The Team Over At MLH For Hosting The Event</h2>
					</header>
					<p>Check Them Out Below</p>
					<ul class="actions special">
						<li><a href="https://mlh.io/" target="_blank" class="button wide primary">MLH Home Page</a></li>
						<li><a href="https://organize.mlh.io/participants/events/3468-rookiehacks" target="_blank" class="button wide">Rookie Hacks</a></li>
					</ul>
				</div>
			</section>
			<section id="footer">
				<ul class="icons">
					<li><a href="https://github.com/MLH" target="_blank" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="https://twitter.com/MLHacks" target="_blank" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.instagram.com/mlhacks/?hl=en" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://www.linkedin.com/company/major-league-hacking/" target="_blank" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>
			</section>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>